body {
    text-align: center;
}
h1 {
    font-size: 300%;
}
h2 {
    font-size: 250%;
}
h4 {
    font-size: 125%;
}
ul {
    display: inline-flex;
    padding-left: 3%;
}
li {
    padding-right: 40px;
}
table {
    margin-left: auto;
    margin-right: auto;
    padding-right: 150px;
    border-style: solid;
}
td {
    padding-top: 10px;
    padding-left: 50px;
}
.comment {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    border-style: dotted;
    width: 15%;
}